html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    padding-left: 50rem;
    padding-right: 50rem;
    height: 100vh;
    gap: 2rem;
}
#boardContainer {
    display: flex;
    justify-content: center;
}

.board{
    display: grid;
    grid-template-rows: 30rem 30rem 30rem;
    grid-template-columns: 30rem 30rem 30rem;
    gap: 2rem;

}

.board > div{
    font-size: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.resetGame {
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 5rem;
}

